.table {
    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #333;
        background: #fff;
        &:last-child {
            border: none;
        }
    }
    &__cell {
        margin: 0 auto;
        padding: 20px;
    }
    &__card {
        flex-direction: row;
        align-items: baseline;
    }
    &__main-title {
        margin-bottom: 10px;
    }
    &__title {
        font-weight: 700;
    }
    &__file {
        margin-bottom: 8px;
    }
}
