@import './colors';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
  color: #333;
  font: 16px/1.5 Montserrat, Arial, sans-serif;
}

input {
  outline: none;
  &:hover {
    outline: none;
  }
}

img {
  width: 100%;
}


.hidden {
  display: none;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.form__bottom-content {
  margin-top: 20px;
}