@import './colors';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $accent-color;
  text-decoration: none;
}

body {
  background: #efefef;
  color: #333;
  font: 16px/1.5 Montserrat, Arial, sans-serif;
}

img {
  width: 100%;
}

header,
footer {
  background: #333;
  padding: 20px 40px;
}

.hidden {
  display:  none;
}
